@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Ubuntu:wght@400;500&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: xx-large;
  color: #A75AFF;
  opacity: 0.87;
  background: #12005e;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  width: 100%;
  flex-basis: 100%;
  font-weight: 600;
  letter-spacing: 0.5rem;
  font-style: italic;
  text-align: center;
}

img,
video {
  height: auto;
  max-width: 100%;
}

#questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 1;
}

.question {
  margin: 1rem 2rem 0 2rem;
}

.question.submitted {
  border-radius: 0.5rem;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3));
  background-color: #4a148c;
  margin: 1rem 0.5rem 0 0.5rem;
}

.question--title {
  flex-basis: 100%;
  padding: 2rem 4rem;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0.8rem;
  border: 0.2rem solid #A75AFF;
  font-weight: 500;
  text-align: center;
}

.question--title.submitted {
  transition: 0.1s;
  padding: 0;
  font-size: 80%;
  margin-top: 0.5rem;
  border: none;
}

.question--options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0;
  margin: 0 1rem 1rem 1rem;
  margin-bottom: 2rem;
}

.question--options.submitted {
  margin-bottom: 0.5rem;
}

button {
  transition: 0.1s;
  font-family: "Ubuntu";
  font-weight: normal;
  background-color: #A75AFF;
  border: none;
  border-radius: 1rem;
  font-size: x-large;
  min-width: 6rem;
  height: 4rem;
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.3));
  padding: 0.5rem 1rem;
  color: #12005e;
  box-shadow: inset 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

button:hover {
  transition-duration: 0.1s;
  transform: translate(0, -3%);
  filter: drop-shadow(0 0.1rem 0.3rem rgba(167, 90, 255, 0.5));
}

button:enabled:active {
  transform: translate(0, 5%);
  filter: none;
  box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

button:disabled {
  background-color: #7c43bd;
  filter: none;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  font-size: 50%;
  min-width: 3rem;
  height: 2rem;
  margin: 0.2rem 0.1rem;
  border: none;
}

.question--button {
  line-height: 1rem;
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 0;
}

.question--button--selected {
  transition-duration: 0.3s;
  font-weight: 500;
  filter: none;
  box-shadow: inset 0 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
  background-color: #A6FA14;
}

.question--button--selected:hover {
  transform: translate(0, 3%);
  box-shadow: inset 0 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
  filter: none;
  filter: drop-shadow(0 0 0.3rem rgba(166, 251, 20, 0.5));
}

.question--button--selected:active {
  transform: translate(0, 5%);
}

.question--button--correct {
  color: lightgreen !important;
  border: 0.2rem solid lightgreen !important;
}

.question--button--wrong {
  color: rgb(255, 66, 66) !important;
  border: 0.2rem solid rgb(255, 66, 66) !important;
}

#submit {
  width: 8rem;
  line-height: 0;
  margin: 1rem 4rem;
  padding: 1rem;
  color: #12005e;
  align-content: center;
  background-color: #4a148c;
  filter: none;
}

#submit:hover {
  transition: 0.3s;
  transform: translate(0, -2%);
}

#submit:active {
  transition: 0.1s;
  box-shadow: none;
  transform: translate(0, -1%);
}

#submit.submitted {
  transition-duration: 0.3s;
  transform: scale(0, 0);
}

@keyframes glow {
  from { box-shadow: 0 0 3rem -0.5rem #A6FA14, inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.4); }
  to { box-shadow: 0 0 0 #A6FA14, inset 0 -0.3rem 0.2em rgba(0, 0, 0, 0.4); }
}

.submit--button--completed {
  width: 100% !important;
  padding: 3rem !important;
  transition: 0.3s;
  background-color: #A6FA14 !important;
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.3)) !important;
  animation-duration: 2s;
  animation-name: glow;
  animation-direction: alternate-reverse;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.submit--button--completed:hover {
  filter: drop-shadow(0 0.4rem 0.2rem rgba(0, 0, 0, 0.3)) !important;
}

.submit--button--completed:active {
  box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3) !important;
  filter: none !important;
}

#scoresheetContainer {
  position: sticky;
  display: flex;
  margin: 1rem 4rem;
  flex-wrap: wrap;
  flex-basis: 100%;
  top: 0;
  z-index: 1;
  justify-content: center;
}

#scoresheetContainer.submitted {
  position: static;
  border-radius: 0.5rem;
  border: 0.2rem solid #A75AFF;
}

#scoresheet {
  display: none;
  flex-basis: 100%;
  padding: 0;
  padding-top: 0.5rem;
  font-size: 1em;
  text-align: center;
}

#scoresheet.submitted {
  display: block;
}

.score {
  display: none;
  margin: 0;
  margin: 0;
}

.score.completed {
  display: inline-block;
}

#timer {
  font-family: "Cutive Mono";
  margin: 0;
  transition-duration: 0.3s;
  background-color: #A75AFF;
  color: #12005e;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: -0.5rem;
  filter: drop-shadow(0.3rem 0.3rem 0.3rem rgba(17, 0, 95, 0.2));
  box-shadow: inset 0 -0.1rem 0 rgba(0, 0, 0, 0.2);
}

#timer.submitted {
  filter: none;
  position: static;
  color: #A75AFF;
  background-color: transparent;
}
