@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,600&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  font-family: "Source Code Pro";
  font-weight: normal;
  font-size: xx-large;
  color: black;
  opacity: 0.87;
  background-color: #ff8f00;
}

h1 {
  width: 100%;
  flex-basis: 100%;
  font-weight: 600;
  letter-spacing: 0.5rem;
  font-style: italic;
  text-align: center;
}

img,
video {
  height: auto;
  max-width: 100%;
}

#questions {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question--title {
  flex-basis: 100%;
  width: 35rem;
  padding: 2rem 4rem;
  font-size: 1em;
  margin: 0% 4rem;
  margin-bottom: 0;
  border-radius: 0.3rem;
  border: 0.2rem solid black;
  background-color: #ffc046;
  text-align: center;
}

.question--options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0;
  margin: 0% 3.5rem;
  margin-bottom: 4rem;
}

button {
  transition: 0.1s;
  font-family: "Source Code Pro";
  background-color: transparent;
  border: 0.2rem solid black;
  border-radius: 1rem;
  font-size: x-large;
  min-width: 8rem;
  height: 4rem;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem #c56000);
}

button:hover {
  transition-duration: 0.1s;
  transform: translate(0, -5%);
  filter: drop-shadow(0.4rem 0.4rem 0.2rem #c56000);
}

button:active {
  transform: translate(0, 5%);
  filter: none;
  box-shadow: inset 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.question--button {
  line-height: 1rem;
  background-color: #ffc046;
  margin: 0.5rem 0.5rem;
  padding: 0;
  color: black;
}

.question--button--selected {
  transition-duration: 0.3s;
  background-color: #c56000;
  font-weight: bold;
  filter: none;
  box-shadow: inset 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.question--button--selected:hover {
  transform: translate(0, 3%);
  box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  filter: none;
}

.question--button--selected:active {
  transform: translate(0, 5%);
}

#submit:hover {
  transition: 0.3s;
  color: pink;
  background-color: red;
}

#submit:active {
  transition: 0.1s;
  box-shadow: none;
  filter: drop-shadow(0.2rem 0.2rem 0.1rem #c56000);
}

.submit--button--completed:hover {
  color: lightgreen !important;
  background-color: green !important;
  filter: drop-shadow(0.4rem 0.4rem 0.2rem #c56000);
}

.submit--button--completed:active {
  box-shadow: inset 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3) !important;
  filter: none !important;
}
