@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Ubuntu:wght@400;500&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: xx-large;
  color: black;
  opacity: 0.87;
  background-color: white;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  width: 100%;
  flex-basis: 100%;
  font-weight: 600;
  letter-spacing: 0.5rem;
  font-style: italic;
  text-align: center;
}

img,
video {
  height: auto;
  max-width: 100%;
}

#questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 1;
}

.question {
  margin: 1rem 2rem;
}

.question.submitted {
  border-radius: 0.5rem;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3));
  background-color: white;
  margin: 1rem 0.5rem 0 0.5rem;
}

.question--title {
  flex-basis: 100%;
  padding: 2rem 4rem;
  font-size: 1em;
  margin-bottom: 0;
  border-radius: 0.3rem;
  border: 0.2rem solid black;
  font-weight: 500;
  text-align: center;
}

.question--title.submitted {
  transition: 0.1s;
  padding: 0;
  font-size: 80%;
  margin-top: 0.5rem;
  border: none;
}

.question--options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0;
  margin: 0 1rem 2rem 1rem;
  margin-bottom: 2rem;
}

.question--options.submitted {
  margin-bottom: 0.5rem;
}

button {
  transition: 0.1s;
  font-family: "Ubuntu";
  font-weight: normal;
  background-color: white;
  border: 0.2rem solid black;
  border-radius: 1rem;
  font-size: x-large;
  min-width: 6rem;
  height: 4rem;
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.3));
  padding: 0.5rem 1rem;
  color: black;
  box-shadow: inset 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

button:hover {
  transition-duration: 0.1s;
  transform: translate(0, -3%);
  filter: drop-shadow(0 0.21rem 0.1rem rgba(0, 0, 0, 0.3));
}

button:enabled:active {
  transform: translate(0, 5%);
  filter: none;
  box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

button:disabled {
  background-color: rgba(0, 0, 0, 0.05);
  filter: none;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  font-size: 50%;
  min-width: 3rem;
  height: 2rem;
  margin: 0.2rem 0.1rem;
  border: none;
}

.question--button {
  line-height: 1rem;
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 0;
}

.question--button--selected {
  transition-duration: 0.3s;
  font-weight: 500;
  filter: none;
  box-shadow: inset 0 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}

.question--button--selected:hover {
  transform: translate(0, 3%);
  box-shadow: inset 0 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
  filter: none;
}

.question--button--selected:active {
  transform: translate(0, 5%);
}

.question--button--correct {
  color: green !important;
  border: 0.2rem solid green !important;
}

.question--button--wrong {
  color: red !important;
  border: 0.2rem solid red !important;
}

#submit {
  line-height: 0;
  width: 100%;
  margin: 1rem 4rem;
  padding: 3rem;
  border: 0.2rem solid red;
  color: red;
  filter: none;
}

#submit:hover {
  transition: 0.3s;
  transform: translate(0, -2%);
}

#submit:active {
  transition: 0.1s;
  box-shadow: none;
  transform: translate(0, -1%);
}

#submit.submitted {
  transition-duration: 0.3s;
  transform: scale(0, 0);
}

.submit--button--completed {
  transition: 0.3s;
  color: green !important;
  border: 0.2rem solid green !important;
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.3)) !important;
}

.submit--button--completed:hover {
  filter: drop-shadow(0 0.4rem 0.2rem rgba(0, 0, 0, 0.3)) !important;
}

.submit--button--completed:active {
  box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3) !important;
  filter: none !important;
}

#scoresheetContainer {
  position: sticky;
  display: flex;
  margin: 1rem 4rem;
  flex-wrap: wrap;
  flex-basis: 100%;
  top: 0;
  z-index: 1;
  justify-content: center;
}

#scoresheetContainer.submitted {
  position: static;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
}

#scoresheet {
  display: none;
  flex-basis: 100%;
  padding: 0;
  padding-top: 0.5rem;
  font-size: 1em;
  text-align: center;
}

#scoresheet.submitted {
  display: block;
}

.score {
  display: none;
  margin: 0;
  margin: 0;
}

.score.completed {
  display: inline-block;
}

#timer {
  font-family: "Cutive Mono";
  margin: 0;
  transition-duration: 0.3s;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: -0.5rem;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
}

#timer.submitted {
  filter: none;
  position: static;
}